<!DOCTYPE html>
<html lang="en" ng-strict-di>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>
    <%= title %>
  </title>

  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">
  <meta name="fragment" content="!">

  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  <link rel="stylesheet" href="/fonts/exo/Exo.css" type="text/css" />
  <link href="/markdown/fonts/sourcesanspro/sourcesanspro.css" rel="stylesheet" type="text/css">
  <link href="/markdown/fonts/ubuntumono/ubuntumono.css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/classes.all.css" type="text/css" />
  <link href="/markdown/css/classes.all.css" rel="stylesheet">
</head>

<body ng-controller="Base">

  <div id="loading">
    <span class="title">
      <%= title%>
    </span>
    <span class="logo"></span>
  </div>
  <div class="wrapper">
    <div class="page">
      <%- include navbar %>

        <div class="welcome-content container">
          <div class="pom-site-welcome row">
            <div class="content col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <header>
                <h5 class="logo">
                  <a href="/">
                    <p>POMY</p>
                    <%- include icons/logo-screen-noglow %>
                  </a>
                </h5>
              </header>
              <section>
                <div class="column col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <h2>Welcome to
                    <strong>
                      <%= name%>
                        <%= version%>
                    </strong>!</h2>
                  <p name="readme" class="intro"></p>
                  <p class="intro">This is the biggest upgrade we've ever made to
                    <%= name%> and we think you're going to love it.</p>

                  <h3 class="links">More Links</h3>
                  <p><a href="/markdown" class="more-icon">MARKDOWN</a></p>
                  <p><a href="/api" class="more-icon">API Documents</a></p>
                  <p><a href="/ui" class="more-icon">UI Design</a></p>
                  <p><a href="/cy" class="more-icon">Community</a></p>
                  <p><a href="/pi" class="more-icon">Project Information</a></p>
                  <p><a href="/ut" class="more-icon">Test Reports</a></p>
                </div>
                <div class="column col-lg-6 col-sm-6 col-md-6 col-xs-12">
                  <div class="integrated-tree">
                    <%- include icons/tree %>
                  </div>
                  <div class="column col-lg-7 col-sm-7 col-md-7 col-xs-12">
                    <h3>Activity</h3>
                    <p class="text-fluid">We have also been posting summaries of new features and changes to <a href="/markdown/">our backlogs</a>.</p>
                    <ul class="type13">
                      <li ng-repeat="backlog in backlogs | limitTo: limitTo1"><a href="/markdown/#?id={{backlog.id}}" class="more-icon">{{backlog.name}}</a></li>
                      <li ng-if="backlogs.length > limitTo1"><a href="javascript:void(0)" ng-click="more1()">more ...</a></li>
                      <li ng-if="backlogs.length <= 0"><a href="javascript:void(0)">There isn't backlog files here so far.</a></li>
                    </ul>

                    <h3>Sprints</h3>
                    <p class="text-fluid">In
                      <%= name%> development, we make sprints to define specific work which has to be completed and made ready for review in a week. Each sprint begins with a planning meeting. Here is our meeting minutes:</p>
                    <ul class="type13">
                      <li ng-repeat="sprint in sprints | limitTo: limitTo2"><a href="/markdown/#?id={{sprint.id}}" class="more-icon">{{sprint.name}}</a></li>
                      <li ng-if="sprints.length > limitTo2"><a href="javascript:void(0)" ng-click="more2()">more ...</a></li>
                      <li ng-if="sprints.length <= 0"><a href="javascript:void(0)">There isn't sprint files here so far.</a></li>
                    </ul>
                  </div>
                  <div class="column col-lg-5 col-sm-5 col-md-5 col-xs-12">
                    <h3>Summary</h3>
                    <p>First, check out our <a href="<%=homepage%>">sources &lt;<%=repository.url%>&gt;</a> to see all details.</p>

                    <p>We also offers <a href="/um">User's Manual</a> and <a href="mailto:liujc@ctrip.com">Further Support</a> for companies wishing to use
                      <%= name%>
                        <%= version%>.
                    </p>

                    <h3>Pomy</h3>
                    <p>Check out our <a href="https://github.com/licoliu/pomy">pomy sources &lt;git@github.com:licoliu/pomy.git&gt;</a> to see all details.</p>
                  </div>
                </div>
              </section>
            </div>
            <div class="news col-lg-12 col-sm-12 col-md-12 col-xs-12">
              <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                <h1>Updates</h1>

                <div ng-repeat="deployment in deployments">
                  <h3>{{deployment.target}}</h3>
                  <div class="item" ng-repeat="record in deployment.records | limitTo: record.limitTo">
                    <span class="date">{{record.date}}</span>
                    &nbsp;&nbsp;{{record.name}}&nbsp;&nbsp;{{record.version}}
                  </div>
                  <div class="item" ng-if="deployment.records.length > record.limitTo"><a href="javascript:void(0)" ng-click="more3()">more ...</a></div>
                </div>
                <div class="item" ng-if="deployments.length <= 0"><a href="javascript:void(0)">There isn't any deployments here so far.</a></div>
              </div>
              <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <%- include footer %>
</body>

</html>